version: '3.8'
services: 
# PostgreSQL database service
  postgres-db:
    image: postgres:latest
    container_name: postgres-db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: hastane
    volumes:
      - mydbdata:/var/lib/postgresql/data  
    ports:
      - "5432:5432"  
    restart: unless-stopped 
    networks: 
      - app-network
volumes:
  mydbdata:
networks:
  app-network:
    name: app-network 


